:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  height: 100dvh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr minmax(460px, 2fr);
}

.content_canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#game_over {
  position: absolute;
  font-size: 32px;
  width: 210px;
  left: calc(50% - 105px);
  top: 50%;
  text-align: center;
  color: #af3131;
  margin: 0;
  background-color: #f3c6d8;
  border-radius: 5px;
  display: none;
}

canvas {
  justify-self: center;
  align-self: center;
}

aside {
  border-right: 1px dashed darkgray;
  display: grid
}

h2 {
  text-align: center;
  font-size: 40px;
}

.score {
  font-size: 30px;
  margin: 50px;
  height: 38px;
}

button {
  font-size: 30px;
  width: 200px;
  height: 56px;
  justify-self: center;
  cursor: pointer;
  background: #198719;
  border: none;
  border-radius: 5px;
  border-bottom: 9px solid #063006;
  outline: none;
}

button:active {
  transform: scale(0.95);
}
